body {
    text-align: center;
    border-color: blue;
    table-layout: auto;
    -webkit-text-size-adjust: 50%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }

.submit {
    column-rule-color: blue;
    tab-size: 15;
} 
    
.nav {
    color: blue;
}

.login {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }